<%- include('partials/_header') %> %>

  <div class="d-lg-flex justify-content-center">

    <div class="text-center pt-5">
      <h2>BROKER INMOBILIARIA</h2>
      <h3>Royceth Gutierrez Bahoque</h3>
      <h3>royceth@hotmail.com</h3>
      <h3>+57 300 838 05 14</h3>
    </div>

 </div>
 
  <br> <br> <br> <br>


</body>


</html>