<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <div class="d-flex justify-content-center mt-5">
    <div class="card col-lg-4 p-4 text-center" style="background-color: #b88681;">
      <img src = '/malu-logo.png' alt="logo"class="m-2"/>

      <form id="email-form" class="mt-3 lh-5">

        <label for="sedes" class="text-white">Sede:</label>
        <select id="sedes" name="sedes" class="col-lg-10">
          <option value="jardin">Jardín del Río</option>
          <option value="viva">CC Viva</option>
          <option value="94">Calle 94</option>
        </select>

        <label for="fecha" class="text-white">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required class="col-lg-10">

        <label for="hora" class="text-white">Hora:</label>
        <select id="hora" name="hora" class="col-lg-10">
          <option value="0900">09:00 a.m.</option>
          <option value="1000">10:00 a.m.</option>
          <option value="1100">11:00 a.m.</option>
          <option value="1200">12:00 p.m.</option>
          <option value="1300">01:00 p.m.</option>
          <option value="1400">02:00 p.m.</option>
          <option value="1500">03:00 p.m.</option>
          <option value="1600">04:00 p.m.</option>
          <option value="1700">05:00 p.m.</option>
          <option value="1700">06:00 p.m.</option>
        </select>

        <label for="usuario" class="text-white">Nombre:</label>
        <input type="text" id="usuario" name="usuario" required class="col-lg-9">

        <label for="telefono" class="text-white">Telefono:</label>
        <input type="text" id="telefono" name="telefono" required class="col-lg-9">

        <label for="email" class="text-white">e-mail:</label>
        <input type="email" id="email" name="email" required class="col-lg-9">

        <button type="submit" class="mt-4 mb-3 col-lg-10">Reservar</button>

      </form>
    </div>
  </div>

  <script>

    function generarNumeroAleatorioUnico() {
      let numero = Math.floor(Math.random() * 10000); // Genera un número aleatorio de 4 dígitos
      let numeroComoCadena = numero.toString(); // Convierte el número a una cadena

      // Verifica la unicidad de los dígitos
      while (numeroComoCadena.length !== new Set(numeroComoCadena.split('')).size) {
          numero = Math.floor(Math.random() * 10000); // Genera un nuevo número aleatorio
          numeroComoCadena = numero.toString(); // Convierte el nuevo número a una cadena
      }

      return numero; // Retorna el número final
      }

      console.log(generarNumeroAleatorioUnico());

    document.getElementById('email-form').addEventListener('submit', async (e) => {
        e.preventDefault();
        const usuario = document.getElementById('usuario').value;
        const telefono = document.getElementById('telefono').value;
        const email = document.getElementById('email').value
        const codigo = generarNumeroAleatorioUnico()

        const response = await fetch('/send-email', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ usuario , telefono , email , codigo })
        });

        if (response.ok) {
            alert('Correo enviado con éxito');
        } else {
            alert('Error al enviar el correo');
        }
    });
  </script>
  </body>

</html>