<%- include('partials/_header') %> %>

  <div class="">

    <div id="carouselExampleFade" class="">

      <div class="carousel-inner d-flex justify-content-around align-items-center">

        <div id="slider-izquierdo" class="">
          <button class="btn btn-light"> < </button>
        </div>
    
        <div class="d-flex justify-content-center">
          <div class="slider-screen col-lg-10 ">
            <img name="Imagen" class="d-block w-100 rounded-2">
          </div>
        </div>
        
        <div id="slider-derecho" class="">
          <button class="btn btn-light">></button>
        </div>
      </div>
    </div>  

  <script src="slider.js"></script>

</body>

</html>